    /*background: url(../images/fb24a57d5d82b2fa23c3c3878091530d.jpg) no-repeat center top /cover;
    
*/

    /*Login*/
    * {
        padding: 0;
        margin: 0;

    }

    main {
        background-image: url(img/back3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logoname {
        color: blue;
    }

    h1 {
        text-align: center;
        color: white;
        font-family: 'mansalva';
    }


    .login-form {
        flex-direction: column;
        align-content: center;
        width: 25%;
    }

    input[type=email],
    input[type=password],
    input[type=username],
    input[type=confirmpassword] {
        height: 50px;
        margin-bottom: 35px;
        background-color: beige;
    }

    /*los botones del array */
    button,
    .button {
        height: 40px;
        margin: 10px;
        background-color: rgb(175, 175, 228);
        color: white;
        border: blue;
        box-shadow: 3px 3px 0px var(--red-color);
        border-radius: 5px;
    }

    input {
        margin: 10px;
        height: 40px;
        border: none;
        border-bottom: solid 2px var(--red-color);
        text-align: center;
    }

    input:focus {
        border-bottom: solid 2px var(--text-color);
        outline-color: #ff6541;
    }


    button:hover,
    .button.hover {
        background-color: #3a3939;
    }

    button:disabled,
    .button:disabled {
        background-color: grey;
    }

    /**/

    .email,
    .password,
    .username,
    .confirmpassword {
        height: 150%;
        display: flex;
        flex-direction: column;

    }

    /*mirar lo del responsive*/
    footer {
        background-color: #007bff;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        color: white;
        font-size: 5px;
        /*no me cambia el tamaño de la letra en el footer*/

    }



    /*Main*/

    .navbar {
        align-content: flex-end;
        padding-left: 20px;
    }

    /*lo del codepen  */
    html {
        height: 100%;
        /*para que no desaparezca el contenido  */
    }

    body {
        min-height: 100%;
        padding: 0;
        margin: 0;
        position: relative;
    }

    body::after {
        content: '';
        display: block;
        height: 100px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        /*para que el footer no se coma el contenido*/
    }

    /* --- MAIN PAGE --- */


    /*per les columnes*/

    @import "compass/css3";

    .flex-container {

        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .flex-item {
        background: beige;
        max-width: 450px;
        height: auto;
        margin-top: 10px;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }

    .card-text {
        font-size: 15px;
    }

    /*para hacerlo responsive hago el @media*/
    @media(min-width:600px) {

        .flex-item {
            max-width: 250px;

        }

    }

    /* --- FAQS PAGE --- */
    /* section FAQ's*/

    /*PRINCIPIO ALEX*/


    .clickmore {
        font-size: 14px;
        color: rgb(243, 18, 243);
    }


    /*Final columnes*/


    /*
CSS para FAQ's aquí!
*/

    /* section FAQ's*/

    .faqs {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .faq-heading {
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        background-color: beige;
        color: yellow;
        border: 4px solid #007bff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
    }

    .faq-heading>h4 {
        width: 85%;
        color: rgb(6, 54, 175);
        font-weight: bold;
        font-style: oblique;
        /*para que no corte a la flecha*/
    }

    .faq-heading>.faq-arrow {
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        transform: rotate(45deg);
        transition: all ease 0.6s;
        border-width: 0 2px 2px 0;
        border-color: rgb(126, 7, 236);
        border-style: solid;
    }

    /*crea la flecha y la anima, la transforma con 6 milisegundos
*/
    .faq-text {
        color: white;
    }

    .faqs>.faq>.faq-main {
        border: 1px solid #e2e2e2;
    }


    /* for animate faqs dropdown */


    .faqs>.faq>.faq-main {
        /*juntar con la propiedad de arriba */
        padding: 0 20px;
        height: 0;
        opacity: 0;
        transition: all ease 0.8s;
        overflow: hidden;
        /* con esta propiedad no molesta para clicar el resto de faqs */
    }

    .faqs>.toggle-faq-on>.faq-main {
        padding: 20px;
        height: auto;
        opacity: 1;
        transition: all ease 0.8s;
    }

    .faqs>.toggle-faq>.faq-main>.faq-text {
        height: 0;

    }

    .faqs>.toggle-faq-on>.faq-main>.faq-text {
        height: auto;
    }

    .faqs>.toggle-faq-on>.faq-heading>.faq-arrow {
        transform: rotate(225deg);
        transition: all ease 0.6s;
    }


    /*
/* --- RESET --- */

    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        line-height: normal;
    }


    main {
        padding: 30px;
        /*Si lo quito sale una barra blanca. solo en login y signup*/
    }

    .container {
        display: flex;
        justify-content: center;
    }



    a:hover {
        color: var(--red-color);
        /*investigar*/
    }


    /* SIGNUP PAGE & LOGIN PAGE */

    .signup,
    .login {
        margin-top: 85px;
        text-align: center;
    }

    .cto {
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .form-wrapper>form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
    }

    .errors-container {
        width: 100%;
        max-width: 800px;
    }


    .errors-container p {
        background-color: orange;
        padding: 10px;
        margin: 10px 0;
        color: red;
        border-radius: 15px;
        box-shadow: 0 0 10px #feb1b1;
    }

    .errors-container p.correct-message {
        background-color: rgb(47, 164, 93);
        box-shadow: 0 0 10px #dbf1c1;
    }

    .aaa {
        color: red;
    }